{% extends 'base.html' %}

{% block mi_contenedor %}
<div class="fs-4 text-start m-5">
<p>
    El flan (del francés flan) es un postre de origen francés elaborado con una natilla teniendo como ingredientes principales yemas de huevos, un poco de clara a veces, leche entera y azúcar que luego es refrigerado para obtener una textura cremosa y gelatinosa.</p>
    <b>Origen</b>
    
    <p>Su origen se remonta a siglos antes de Cristo, y ya era elaborado con huevo como ingrediente principal de la receta, por fenicios, griegos y romanos, que entonces lo llamaban Tyropatina.
    
    Durante la Edad Media se continuó consumiendo, sobre todo en Cuaresma, cuando ciertos alimentos estaban prohibidos, y fue entonces cuando comenzó a elaborarse con azúcar y caramelo, tal como lo conocemos ahora.
    
    Aunque fue a partir del siglo VII que empezó a popularizarse en diferentes países, ya que en ese momento se le dio el nombre de Flan.</p>
    <b>Elaboración</b>
<p>Postre dulce, flan con caramelo (España).
    Flan de café (Castellón, España).
    Flan de turrón (Orpesa, España).
    
    El huevo, al cocerse al baño María, se cuaja y toma la forma del molde, adquiriendo una textura ligera, gelatinosa y cremosa. Junto a los huevos son necesarios otros ingredientes que le aporten sabor, generalmente leche aromatizada con vainilla, canela o cáscara de limón. A partir de la receta básica se han ido añadiendo variantes que utilizan zumos y compotas de frutas, chocolate fundido, café, queso cremoso o yogur. Y aún muchas otras que incluyen almendras, pistachos, dulce de leche y diversas frutas. En tiempos de los romanos, se elaboraba con miel en lugar de azúcar y se espolvoreaba con pimienta.
    
    Tradicionalmente se vierte caramelo en el molde, previamente hecho en una sartén a fuego medio, colocando 100 gramos de azúcar. Revolviendo con una cucharada de madera en forma constante, el azúcar se irá derritiendo y pasará a ser líquida y de color marrón. para que una vez terminada la cocción cuando se invierte el molde el flan quede cubierto por el caramelo. También se puede preparar con flan instantáneo industrial, el cual lleva una preparación similar a la gelatina. El objetivo es obtener una crema homogénea y lisa en superficie y que la base del flan, el caramelo, quede líquido después de la cocción. De ahí la importancia de hacer la cocción al baño María, para evitar así que el caramelo se queme y dé mal sabor.
    
    También existe la posibilidad de elabora el flan en el microondas (con 500 ml de leche, 4 huevos, 100 g de azúcar y una cucharada de esencia de vainilla). También se puede hacer en taza (3 cucharadas de azúcar, 2 de agua, 8 de leche, 1 huevo y 1/2 cucharadita de esencia de vainilla).
    Flan de huevo y café.</p>
    <b>Variantes</b>
    
<p>En Argentina y Uruguay es común acompañar el flan con dulce de leche, aunque también se puede servir con crema o con ambos, denominándose flan mixto. En Colombia hay variantes en la preparación, en algunos casos se agrega mango (también utilizado en Venezuela), piña, coco (tradicional en Panamá) y frutos secos.</p>
    <b>Croacia</b>
    Flan casero de postre.
    
<p>En la región croata de Dalmacia existe la rožata, un flan que se aromatiza con licor de rosas de Dubrovnik.</p>
    <b>Colombia</b>
    
<p>En Colombia existe una variante denominada «leche asada» que se le agrega panela derretida, también variantes en fruta como mini postre o capa superior o interiores de pasteles de cumpleaños como maracuyá, coco, lulo, granadilla, fresa, curuba, mora, limon, etc.</p>
    <b>Ecuador</b>
    
<p>En Ecuador se lo conoce con el nombre de «queso de leche» y es muy similar al quesillo venezolano.</p>
    <b>Francia</b>
    
<p>Las variaciones regionales del flan en Francia incluyen:
    
        Flan a la normanda: Realizada con la adición de Calvados, una aguardiente de manzana producida en Normandía, que le confiere al postre un sabor distintivo a manzana.
        Flan a la bretona: Esta variación proviene de Bretaña y se realiza con la adición de mantequilla salada, que agrega un elemento salado al postre. La mantequilla salada se carameliza con el azúcar para crear un perfil de sabor único.
        Flan a la provenzala: En la región de Provenza, el flan a menudo se aromatiza con lavanda o agua de azahar, lo que le da un toque floral y aromático.
        Flan a la parisina: Esta variación se encuentra comúnmente en los restaurantes parisinos y generalmente se elabora con leche entera y yemas de huevo para obtener una textura rica y cremosa. A menudo se sirve en porciones individuales o en versión grande.</p>
    
    <b>Perú</b>
    
<p>En Perú existe una variante denominada «crema volteada»,que es un flan al que se le añade, además de los ingredientes básicos, leche condensada. También en ocasiones se le añade frutas locales, como lúcuma, chirimoya, guanábana o granadilla. La llamada «leche asada», es otra variante peruana del flan que se hornea en moldes individuales sin caramelo. Se mantiene en el horno hasta que se forma una fina capa tostada en la parte superior y se consume sin desmoldar. No se considera un postre casero, sino de restaurante o de fuente de soda.
    Flan de carajillo cremat (Castellón).</p>
<b>Chile</b>
    
<p>En Chile la variante «leche asada» o también conocida como «flan de huevo», es un postre similar al flan, preparado con los mismos ingredientes, pero que se hornea directo en el horno (no al baño María) hasta que se forma una fina capa tostada en la parte superior. En algunas ocasiones se sirve acompañado de manjar.</p>
<b>Venezuela</b>
    
<p>En Venezuela el «quesillo» es un postre típico que se elabora a base de huevos enteros, leche condensada y a veces se emborracha con ron si así lo desean . Se cocina a baño María en un molde acaramelado. Suele servirse como postre o bien como acompañante de la torta de cumpleaños, junto con la gelatina o comer en cualquier ocasión. También hay variantes donde se le agregan frutos secos como pasas, chocolate o arequipe; igualmente existe quesillo de mango, quesillo de plátano, quesillo de auyama, quesillo de piña o quesillo de coco. El nombre proviene del hecho de tener poros que recuerdan a los agujeros del queso.</p>
<b>Panamá</b>
    
<p>En Panamá se elabora, además del tradicional, una variante tradicional con coco, que es elaborada con leche de coco, leche condensada y leche evaporada. Se le suele agregar coco rallado para decorar, aunque el caramelo es opcional.
    
También se prepara un postre denominado "flan escondido", donde el flan va oculto dentro de bizcocho.</p>
<b>México</b>
<p>En México es conocido como «flan napolitano», y se hace a base de huevos, leche condensada, leche evaporada, queso crema y se aromatiza con vainilla. Es uno de los postres más consumidos de México, se suele vender en rebanadas. </p>
</div>
{% endblock %}